*{ box-sizing: border-box;}

body{
    margin:0;
    background-color:whitesmoke;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#5b3cbc;
}

li {float: left;}

li a {
    
    text-decoration: none;
    display: flex;
    color: white; 
    font-size: 1.2rem;
    letter-spacing: -2px;
    padding:20px 20px;
    transition: color 1s;
    transition: background-color 1s;
    
}

li a:hover{ 
    text-decoration: none;
    color:#8b8a37;
    background-color: #8e00d9;
    border-radius: 5px; 
    
}

.header {
    background: url('img/banner.jpg') 50% 50%;
    height:250px;
    background-size:cover;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #8e00d9;
    color: whitesmoke;
    text-align: center;
}

.card {
    width:100%;
    background-color:rgba(58,58,24,0.9);
    color:rgba(245, 245, 245, 0.7);
}

.card-2{
    
    width:100%;
    background-color: #5b3cbc;
    color:rgb(245, 245, 245);
    line-height: 27px;
    text-align: center;
}

.features img{
    width:50px;
    margin-top:20px;
}


h3, h4, h5{letter-spacing: -2px;}


button {
    margin-top: 0.5rem;
    color:white;
    background-color: #8b8a37;
    border-radius: 5px;
    letter-spacing: -1px;
}

.button {
    margin-top: 1rem;
    color:white;
    background-color: #8b8a37;
    font-size: larger;
    border-radius: 5px;
    letter-spacing: -1px;
}



.categoliste {
    text-decoration: none;
    display: flex;
    color: white;
    
    text-align: center;
    font-size: 1.2rem;
    padding: 20px;
    letter-spacing: -2px;
}

.titre-postarticles{
    width: 100%;
}

hr {
    border-top: 1px solid #8d8a37;
}

input, .custom-select, .textarea{
    outline: none;
    border: 1px solid #8d8a37;
    border-radius: 3px;
}

::placeholder { 
    color: #8d8a37;
    opacity: 0.7;
    font-style: italic;
}

